.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    color: var(--color-claro) !important;
}

.nav-link {
    color: #fff !important;
    transition: color 0.3s ease;
    margin: 0 10px;
}

.nav-link:hover,
.nav-link.active {
    color: var(--color-cian) !important;
}

.navbar {
    background-color: var(--color-azul-oscuro) !important;
}